.lessonContainer{
    padding: 100px;
    display: flex;
    flex-direction: row;
    gap:50px;
}
.courseContainer{
    width: 30%;
}
.contentContainer{
    border: solid 2px;
    /* border-color: var(--color-accent); */
    padding: 50px;
    background-color: var(--color-card-bg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 85px;
    width: 70%;
}
.content{
    width: 90ch;
    text-wrap: wrap;
}

.toppers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}