@import "tailwindcss";

:root{
  --primary: #3B82F6;
  --secondary: #F97316;
  --accent: #10B981;
  --bg: #ffffff;
  --card-bg: #FFFFFF;
  --text-primary: #585858;
  --text-secondary: #717171;
  --border: #D1D5DB;
  --primary-hover :#2a73ea;
  --font-family-base: 'Poppins', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
@theme{
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent:var(--accent);
  --color-bg: var(--bg);
  --color-card-bg:var(--card-bg);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border);
  --color-primary-hover :var(--primary-hover);
}


.dark {
  --primary: #5090f8;
  --secondary: #F97316;
  --accent: #10B981;
  --bg: #111827;
  --card-bg: #1116454d;
  --text-primary: #ffffff;
  --text-secondary: #e3e3e3;
  --text-blue: #6ca4fd;
  --border: #D1D5DB;
}


body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-family-base);
}
