.studentHomePageContainer{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap:50px
}

.myCoursesContainer{
    display: flex;
    float: row;
    gap:20px;
    overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.myCoursesContainer::-webkit-scrollbar {
  height: 6px;
}


.myCoursesContainer::-webkit-scrollbar-track {
  background: transparent;
}