.roadmapDetailsContainer{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.roadmapTitleContainer{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: space-between;
}
.link{
    color: var(--color-primary);
    text-decoration: underline;
}