.cardContanier{
    border: solid 1px var(--color-border);
    padding: 30px;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-md);
    max-width: 300px;
    flex-shrink: 0;
    font-family: var(--font-family-base);
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: var(--color-card-bg);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContanier:hover{
    /* background-color: var(--color-accent); */
    /* color: var(--color-bg); */
    transform: translateY(-4px);
}
